<md-dialog aria-label="RSVP" ng-cloak flex>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><i class="material-icons white">event_available</i> RSVP: {{ name }}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:auto; height: auto;" layout-padding>
        <div class="md-dialog-content">
        
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer()">Cancel</md-button>
        <md-button ng-click="answer('confirm')">Park</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>